In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('loan_data_set.csv')

In [4]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
# 1. Summary statistics grouped by a categorical variable
categorical_var = 'Gender'  # Replace with the name of your categorical variable
numeric_var = 'ApplicantIncome'  # Replace with the name of your numeric variable

grouped_stats = df.groupby(categorical_var)[numeric_var].describe()

In [6]:
# Create a list with numeric values for each response to the categorical variable
category_values = grouped_stats.index.tolist()
numeric_values = grouped_stats['mean'].tolist()
summary_statistics = list(zip(category_values, numeric_values))

In [7]:
# Print the summary statistics
for category, value in summary_statistics:
    print(f"{category}: {value}")

Female: 4643.473214285715
Male: 5446.460122699386

In [18]:
# 2. Basic statistical details for specific species
df2 = pd.read_csv('IRIS.csv')
species_stats = df2.groupby('species').describe()

In [19]:
print(species_stats)

                sepal_length                                              \
                       count   mean       std  min    25%  50%  75%  max
species
Iris-setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

                sepal_width         ... petal_length      petal_width         \
                      count   mean  ...          75%  max       count   mean
species                             ...
Iris-setosa            50.0  3.418  ...        1.575  1.9        50.0  0.244
Iris-versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
Iris-virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                      std  min  25%  50%  75%  max
species
Iris-setosa      0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [15]:


# Filter the dataset for the specific species
species_filter = df2['species'].isin(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'])
filtered_df = df2[species_filter]

# Calculate basic statistical details for each species
species_stats = filtered_df.groupby('species').agg(
    min_sepal_length=('sepal_length', np.min),
    max_sepal_length=('sepal_length', np.max),
    mean_sepal_length=('sepal_length', np.mean),
    median_sepal_length=('sepal_length', np.median),
    std_sepal_length=('sepal_length', np.std),
    min_sepal_width=('sepal_width', np.min),
    max_sepal_width=('sepal_width', np.max),
    mean_sepal_width=('sepal_width', np.mean),
    median_sepal_width=('sepal_width', np.median),
    std_sepal_width=('sepal_width', np.std),
    min_petal_length=('petal_length', np.min),
    max_petal_length=('petal_length', np.max),
    mean_petal_length=('petal_length', np.mean),
    median_petal_length=('petal_length', np.median),
    std_petal_length=('petal_length', np.std),
    min_petal_width=('petal_width', np.min),
    max_petal_width=('petal_width', np.max),
    mean_petal_width=('petal_width', np.mean),
    median_petal_width=('petal_width', np.median),
    std_petal_width=('petal_width', np.std)
)

# Print the basic statistical details
print(species_stats)

                 min_sepal_length  max_sepal_length  mean_sepal_length  \
species
Iris-setosa                   4.3               5.8              5.006
Iris-versicolor               4.9               7.0              5.936
Iris-virginica                4.9               7.9              6.588

                 median_sepal_length  std_sepal_length  min_sepal_width  \
species
Iris-setosa                      5.0          0.352490              2.3
Iris-versicolor                  5.9          0.516171              2.0
Iris-virginica                   6.5          0.635880              2.2

                 max_sepal_width  mean_sepal_width  median_sepal_width  \
species
Iris-setosa                  4.4             3.418                 3.4
Iris-versicolor              3.4             2.770                 2.8
Iris-virginica               3.8             2.974                 3.0

                 std_sepal_width  min_petal_length  max_petal_length  \
species
Iris-setosa             0.381024               1.0               1.9
Iris-versicolor         0.313798               3.0               5.1
Iris-virginica          0.322497               4.5               6.9

                 mean_petal_length  median_petal_length  std_petal_length  \
species
Iris-setosa                  1.464                 1.50          0.173511
Iris-versicolor              4.260                 4.35          0.469911
Iris-virginica               5.552                 5.55          0.551895

                 min_petal_width  max_petal_width  mean_petal_width  \
species
Iris-setosa                  0.1              0.6             0.244
Iris-versicolor              1.0              1.8             1.326
Iris-virginica               1.4              2.5             2.026

                 median_petal_width  std_petal_width
species
Iris-setosa                     0.2         0.107210
Iris-versicolor                 1.3         0.197753
Iris-virginica                  2.0         0.274650

In [17]:
setosa_data = df2[df2['species'] == 'Iris-setosa']
versicolor_data = df2[df2['species'] == 'Iris-versicolor']
virginica_data = df2[df2['species'] == 'Iris-virginica']

# Calculate percentiles for each species
setosa_percentiles = np.percentile(setosa_data['sepal_length'], [25, 50, 75])
versicolor_percentiles = np.percentile(versicolor_data['sepal_length'], [25, 50, 75])
virginica_percentiles = np.percentile(virginica_data['sepal_length'], [25, 50, 75])

# Display the results
print("Percentiles of Iris-setosa:")
print(setosa_percentiles)
print()

print("Percentiles of Iris-versicolor:")
print(versicolor_percentiles)
print()

print("Percentiles of Iris-virginica:")
print(virginica_percentiles)

Percentiles of Iris-setosa:
[4.8 5.  5.2]

Percentiles of Iris-versicolor:
[5.6 5.9 6.3]

Percentiles of Iris-virginica:
[6.225 6.5   6.9  ]